# Salin ke .env lalu isi nilai untuk production (VPS)
# cp .env.example .env

# URL backend yang bisa diakses dari browser (client).
# Contoh: http://IP_VPS_ANDA:8000  atau  https://api.domain.com
NEXT_PUBLIC_BACKEND_URL=http://localhost:8000

# PostgreSQL (untuk docker-compose.prod)
POSTGRES_USER=admin
POSTGRES_PASSWORD=ubah_password_kuat
POSTGRES_DB=schedule_db
